/*reset page spacing*/
* {
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: 'TitleFont'; /* Name your font */
  src: url('/static/antipasto/Antipasto-Pro-ExtraBold-trial.ttf'); /* URL to your font file */
}

@font-face {
  font-family: 'ParagraphFont'; /* Name your font */
  src: url('/static/antipasto/Antipasto-Pro-Regular-trial.ttf'); /* URL to your font file */
}

/*style navbar*/
nav {
  text-align: center;
  font-size: 18pt;
  position: sticky;
  z-index: 1;
  top: 0;
}

ul {
  list-style-type: none;
  background-color: #8ACFEB;
  overflow: hidden;
  padding: 10px;
}

li {
  display: inline;
}

li a {
  text-decoration: none;
  color: #D7F2FD;
  padding: 14px;
  font-family: 'TitleFont';
}

li a:hover {
  color: #F4F7E2;
  background-color: #EFD462;
}

body {
  background-color: #9DC23D;
}

h1 {
  color: #F4F7E2;
  font-size: 65pt;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 10px;
  font-family: 'TitleFont';
}

p {
  font-size: 15pt;
  text-align: center;
  font-family: 'ParagraphFont';
  color: #2F302F;
}

#dinosaur-diet{
  position: relative; /* Ensure absolute positioning is relative to this section */
  background: url(/static/images/background.jpg);
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
}

#visualizations{
  background-color: #9DC23D;
}

.outer-container{
  background-color: #8ACFEB;
  width: 800px;
  height: 550px;
  border-radius: 10px; /* Optional: Add rounded corners to the container */
  position: absolute;
  top: 50%; /* Position from the top edge of the section */
  left: 50%; /* Position from the left edge of the section */
  transform: translate(-50%, -50%); /* Center the element */
}

.inner-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding-top: 25px;
}

.dropdown {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.dropdown {
  padding: 5px;
}

.dropdown-question{
  display: flex;
  align-items: center; /* Center items vertically */
}

/* Style the dropdown button */
select[name="geological_period"], select[name="country"], select[name="dinosaur_type"], select[name="length"] {
  display: block;
  width: 175px;
  height: auto;
  background-color:#D7F2FD;
  padding: 10px;
  border-radius: 8px;
  border: none;
  font-size: 20px;
  font-family: TitleFont;
  color: #2F302F;
  cursor: pointer;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #F4F7E2;
  box-shadow: 0 8px 16px 0 #2F302F;
  width: 150px;
  text-align: center;
  overflow-y: auto; /* Enable vertical scrolling */
  max-height: 200px; /* Set a max height for the dropdown */
  z-index: 1;
}

.dropbtn-text {
  color: #2F302F;
  padding: 5px;
  font-size: 20px;
  font-family: ParagraphFont;
}

/* Show the dropdown menu when the button is clicked */
.show {
  display: block;
}

.image-area{
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}  

.Submit-button {
  position: absolute;
  left: 50%;
  height: auto;
  transform: translateX(-50%);
  background-color:#D7F2FD;
  margin-top: 20px; 
  margin-bottom: 150px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  font-family: TitleFont;
}

.Submit-button:hover {
  background-color:#EFD462;
}

#animated-cloud1 { 
  width: 20%;
  position: relative;
  animation: move1 4s infinite alternate; /* Apply the 'move' animation */
}

@keyframes move1 {
  0% {
      left: 100px; /* Initial position */
      top: 50px;
      transform: rotate(10deg); /* Start rotation angle */
  }
  100% {
      left: 150px; /* Final position */
      top: 45px;
      transform: rotate(0deg); /* Start rotation angle */
  }
}

#animated-cloud2 { 
  width: 15%;
  position: relative;
  animation: move2 3s infinite alternate; /* Apply the 'move' animation */
}

@keyframes move2 {
  0% {
      left: 750px; /* Initial position */
      top: 5px;
      transform: rotate(0deg); /* Start rotation angle */
  }
  100% {
      left: 700px; /* Final position */
      top: 10px;
      transform: rotate(-10deg); /* Start rotation angle */
  }
}

#animated-dinosaur { 
  width: 20%;
  position: relative;
  animation: move3 4s infinite alternate; /* Apply the 'move' animation */
}

@keyframes move3 {
  0% {
      left: 500px; /* Initial position */
      top: 450px;
      transform: rotate(20deg); /* Start rotation angle */
  }
  100% {
      left: 500px; /* Final position */
      top: 450px;
      transform: rotate(0deg); /* Start rotation angle */
  }
}